<div class="container " style="background-color: #e2d5de;">

  <div class="container " style="background-color: #e2d5de;">

    <div class="row" id="contenidos">
      <div class="col  mt-5">
        <form #miForm1="ngForm" (ngSubmit)="createProducto(miForm1)" >
          <fieldset>
            <legend class="mb-xl-5 text-dark">CARGUE UN PRODUCTO</legend>
            <input type="hidden" name="id" [(ngModel)]="sgcProdService.datosProducto.id">
            <input type="hidden" name="idProv" [(ngModel)]="sgcProdService.datosProducto.proveedor_id">
            <input type="hidden" name="razon" [(ngModel)]="sgcProdService.datosProducto.proveedor_razon">
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >SKU</label
              >
              <input type="text" id="sku" class="form-control" placeholder="" name="sku" [(ngModel)]="productViewModel.sku" />
            </div>
            <div class="mb-3">
              <label for="proveedor" class="form-label">ELIJA UN PROVEEDOR</label>
              <select id="proveedor" class="form-select" name="proveedor_razon" [(ngModel)]="productViewModel.supplier.id">
                <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{ proveedor.legalName}}</option>
              </select>
            </div>

            <h4> aca va Proveedor</h4>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">CATEGORIA</label>
              <h4>for de categoria</h4>
              <select  id="iva" class="form-select" name="categoria" [(ngModel)]="productViewModel.category.id">
                <option  *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.name}}</option>

              </select>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >NOMBRE DEL PRODUCTO</label
              >
              <input
                type="text"
                id="nombre"
                class="form-control"
                placeholder=""
                name="nombreProducto"
                [(ngModel)]="productViewModel.name"
              />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >DESCRIPCION</label
              >
              <input
                type="text"
                id="descripcion"
                class="form-control"
                placeholder=""
                name="descripcion"
                [(ngModel)]="productViewModel.description"
              />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >IMAGEN</label
              >
              <input
                type="text"
                id="imagen"
                class="form-control"
                placeholder=""
                name="imagen"
                [(ngModel)]="productViewModel.image"
              />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">PRECIO</label>
              <input
                type="text"
                id="precio"
                class="form-control"
                placeholder=""
                name="precio"
                [(ngModel)]="productViewModel.price"
              />
            </div>

            <button type="submit" class="btn btn-primary" id="guardar">
              GUARDAR
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
