<div class="container">
  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Proveedor</th>
          <th scope="col">SKU</th>
          <th scope="col">Categoria</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productos">
          <!-- <td>{{ product.proveedor }}</td> -->
          <td>{{ product.sku }}</td>
          <td>{{ product.categoria }}</td>
          <td>{{ product.nombreProducto }}</td>
          <td>{{ product.descripcion }}</td>
          <td>{{ product.precio }}</td>
          <button type="button" class="btn btn-primary btn-sm bg-primary ms-2">Agregar</button>
          <button type="button" class="btn btn-danger btn-sm bg-danger ms-2">Eliminar</button>

        </tr>
      </tbody>
    </table>
  </section>
</div>

