<div class="container-fluid">
  <section >
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Razón Social</th>
          <th scope="col">Rubro</th>
          <th scope="col">Email</th>
          <th scope="col">Direccion</th>
          <th scope="col">Datos Fiscales</th>
          <th scope="col">Datos de contacto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedores">
          <td>{{ proveedor.codigo }}</td>
          <td>{{ proveedor.razon }}</td>
          <td>{{ proveedor.rubro }}</td>
          <td>{{ proveedor.email }}</td>
          <td>{{ proveedor.direccion }}</td>
          <td>{{ proveedor.datosF }}</td>
          <td>{{ proveedor.contacto }}</td>

          <button type="button" class="btn btn-outline-warning btn-sm  me-4" (click)="editarProveedor(proveedor)">Modificar</button>
          <button type="button" class="btn btn-outline-danger btn-sm " (click)="delete(proveedor.id)">Eliminar</button>

        </tr>
      </tbody>
    </table>
  </section>
</div>
