<!-- <div class="container " style="background-color: #e2d5de;">

    <div class="row" id="contenidos">
      <div class="col mt-5">
        <form>
          <fieldset>
            <legend class="mb-xl-5">CARGUE UN PROVEEDOR</legend>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">CODIGO</label>
              <input
                type="text"
                id="codigo"
                class="form-control"
                placeholder="" />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >RAZON SOCIAL</label
              >
              <input type="text" id="razon" class="form-control"
              placeholder="">
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">RUBRO</label>
              <input
                type="text"
                id="rubro"
                class="form-control"
                placeholder="" />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >EMAIL</label
              >
              <input
                type="email"
                id="web"
                class="form-control"
                placeholder="" />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >DIRECCION</label
              >
              <input
                type="text"
                id="direccion"
                class="form-control"
                placeholder="" />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >DATOS FISCALES</label
              >
              <input
                type="text"
                id="fiscales"
                class="form-control"
                placeholder="" />
            </div>

            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"></textarea>
              <label for="floatingTextarea2"
                >Datos de contacto</label
              >
            </div>

            <button type="submit" class="btn btn-primary " id="guardar">
              GUARDAR
            </button>
            <button type="submit" class="btn btn-warning m-sm-5" id="editar">
              EDITAR
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
<p>form-proveedor works!</p>
 -->

 <div class="container" style="background-color: #e2d5de">

  <div class="row" id="contenidos">
    <div class="col mt-5">
      <form #miForm="ngForm" (ngSubmit)="createProveedor(miForm)">
        <fieldset>
          <legend class="mb-xl-5">CARGUE UN PROVEEDOR</legend>
          <input type="hidden" name="id" [(ngModel)]="sgcService.datosProveedor.id">
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">CODIGO</label>
            <input
              type="text"
              id="codigo"
              class="form-control"
              placeholder=""
              name="codigo"
              [(ngModel)]="sgcService.datosProveedor.codigo"
            />

          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label"
              >RAZON SOCIAL</label
            >
            <input
              type="text"
              id="razon"
              class="form-control"
              placeholder=""
              name="razon"
              [(ngModel)]="sgcService.datosProveedor.razon"
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">RUBRO</label>
            <input
              type="text"
              id="rubro"
              class="form-control"
              placeholder=""
              name="rubro"
              [(ngModel)]="sgcService.datosProveedor.rubro"
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">EMAIL</label>
            <input
              type="email"
              id="web"
              class="form-control"
              placeholder=""
              name="email"
              [(ngModel)]="sgcService.datosProveedor.email"
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">TELEFONO</label>
            <input
              type="number"
              id="tel"
              class="form-control"
              placeholder=""
              name="telefono"
              [(ngModel)]="sgcService.datosProveedor.telefono"
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">URL</label>
            <input
              type="text"
              id="url"
              class="form-control"
              placeholder=""
              name="url"
              [(ngModel)]="sgcService.datosProveedor.url"
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">DIRECCION</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label"
              >CUIT</label
            >
            <input
              type="text"
              id="fiscales"
              class="form-control"
              placeholder=""
              name="datosF"
              [(ngModel)]="sgcService.datosProveedor.cuit"
            />
            <label for="disabledTextInput" class="form-label"
              >IVA</label
            >
            <select id="iva" class="form-select" name="iva" [(ngModel)]="sgcService.datosProveedor.iva">
              <option [value]="'responsable Inscripto'">Responsable Inscripto</option>
              <option [value]="'iva no responsable'">IVA no Responsable</option>
              <option [value]="'iva exento'">IVA exento</option>
              <option [value]="'responsable monotributista'">Responsable Monotributo</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="disabledTextInput" class="form-label"
              >DATOS DE CONTACTO</label
            >
            <input
              type="text"
              id="contacto"
              class="form-control"
              placeholder=""
              name="contacto"
              [(ngModel)]="sgcService.datosProveedor.contacto"
            />
          </div>

          <button type="submit" class="btn btn-primary" id="guardar">
            GUARDAR
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
