
 <div class="container" style="background-color: #e2d5de">

  <div class="row" id="contenidos">
    <div class="col mt-5">
      <form #miForm="ngForm" >
        <fieldset>
          <legend class="mb-xl-5">Proveedor</legend>
          <input type="hidden" name="id" >
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">CODIGO</label>
            <input
              type="text"
              id="codigo"
              class="form-control"
              placeholder=""
              name="codigo"
              [(ngModel)]="sgcService.datosProveedor.codigo"
              required
              minlength="4"
              #name="ngModel"
            />
            <div *ngIf="name.errors?.['minlength']" class="col-auto">
              <span id="passwordHelpInline" class="form-text">
                Minimo 4 caracteres
              </span>
            </div>

          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label"
              >RAZON SOCIAL</label
            >
            <input
              type="text"
              id="razon"
              class="form-control"
              placeholder=""
              name="razon"
              [(ngModel)]="sgcService.datosProveedor.razon"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">RUBRO:</label>
            <input
              type="text"
              id="rubro"
              class="form-control"
              placeholder=""
              name="rubro"
              [(ngModel)]="sgcService.datosProveedor.rubro"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">TELEFONO</label>
            <input
              type="number"
              id="tel"
              class="form-control"
              placeholder=""
              name="telefono"
              [(ngModel)]="sgcService.datosProveedor.telefono"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">EMAIL</label>
            <input
              type="email"
              id="web"
              class="form-control"
              placeholder=""
              name="email"
              [(ngModel)]="sgcService.datosProveedor.email"
              required
            />
          </div>

          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Sitio Web:</label>
            <input
              type="text"
              id="url"
              class="form-control"
              placeholder=""
              name="url"
              [(ngModel)]="sgcService.datosProveedor.url"
              required
            />
          </div>

          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Imagen del proveedor:</label>
            <input
              type="text"
              id="url"
              class="form-control"
              placeholder=""
              name="url"
              [(ngModel)]="sgcService.datosProveedor.url"
              required
            />
          </div>
          <H4>Direccion</H4>
          <select [(ngModel)]="addressViewModel.locality.province.country.id">
            <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
          </select>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Pais</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Provincia</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Localidad</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Calle</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Numero</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Codigo postal</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label"
              >CUIT</label
            >
            <input
              type="text"
              id="fiscales"
              class="form-control"
              placeholder=""
              name="cuit"
              [(ngModel)]="sgcService.datosProveedor.cuit"
              required
              maxlength="11"
              #name="ngModel"
            />
            <div *ngIf="name.errors?.['maxLength']" class="col-auto">
              <span id="passwordHelpInline" class="form-text">
                Maximo 11caracteres
              </span>
            </div>

          </div>
            <div>
            <label for="disabledTextInput" class="form-label"
              >IVA</label
            >
            <select id="iva" class="form-select" name="iva" [(ngModel)]="sgcService.datosProveedor.iva" required>
              <option [value]="'responsable Inscripto'">Responsable Inscripto</option>
              <option [value]="'iva no responsable'">IVA no Responsable</option>
              <option [value]="'iva exento'">IVA exento</option>
              <option [value]="'responsable monotributista'">Responsable Monotributo</option>
            </select>
          </div>
          <h4>Datos de contacto</h4>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Nombre</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Apellido</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>

          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Telefono</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Email</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Rol</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              placeholder=""
              name="direccion"
              [(ngModel)]="sgcService.datosProveedor.direccion"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary" id="guardar" [disabled]="!miForm.valid">
            GUARDAR
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>





 <!-- <div class="bg-dark">


    <div class="row">

      <div class="col-12 col-md-9 d-flex align-items-center">
        <a class="text-light text-decoration-none" routerLink="/inicio">Inicio</a>
              <i class='bx bx-chevron-right text-light fs-4' ></i>
        <a class="text-light text-decoration-none" routerLink="/proveedores"
          >Proveedores</a
        >

      </div>

      <div class="col-12 col-md-3 d-flex justify-content-md-end my-3">
        <a routerLink="/proveedores" class="btn btn-primary"
          >Volver a la lista</a
        >
      </div>
    </div>

    <form #formProv="ngForm" >
      <div class="row mt-4">
        <h4 class="text-light my-2">Datos Proveedor <i  class='bx bx-info-circle text-white ms-2'></i> </h4>
        <div class="col-12 col-md-auto mb-3">
          <label for="codProv" class="form-label text-light">Codigo:</label>
          <div class="underline"></div>
          <input
            required
            name="proveedor"
            type="text"
            id="codProv"
            placeholder="Ingrese su código"
            class="form-control"
            minlength="4"
            maxlength="8"

          />
          <div *ngIf="formProv.controls['proveedor']?.hasError('minlength')" class="col-auto">
            <span class="form-text text-light" [class.required-field]="formProv.controls['proveedor'].touched">Al menos 4 caracteres</span>
          </div>
          <div class="col-auto">
            <span class="form-text text-light">El código ya está en uso</span>
          </div>
          <div *ngIf="formProv.controls['proveedor']?.hasError('required')" class="col-auto">
            <span class="form-text text-light" [class.required-field]="formProv.controls['proveedor'].touched">El campo es obligatorio</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="rs" class="form-label text-light">Razon Social:</label>
          <input
            [(ngModel)]="this.supplierViewModel.legalName"
            required
            name="razonsocial"
            id="rs"
            type="text"
            placeholder="Ingrese Razon Social"
            class="form-control"
            minlength="3"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['razonsocial']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['razonsocial']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 3 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="rubro" class="form-label text-light position-relative labelRubro">Rubro:
            <div class="containerTooltip position-absolute end-0 bottom-0">
              <span class="hover-me text-white"  >Agregar</span>
              <div >
                <form class="d-flex gap-2" #industryForm="ngForm" >
                  <input placeholder="Ingrese Rubro" name="addIndustry" id="addIndustry" minlength="3" maxlength="50" class="form-control border border-dark" type="text">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
              </div>
            </div>
          </label>
          <select
          [(ngModel)]="this.supplierViewModel.industry.id"
          for="rubro"
          id="rubro"
          name="rubro"
          class="form-select"
          aria-label="Default select example"
          required
        >
          <option selected disabled>Selecciona un rubro</option>
          <option *ngFor="let industry of industries" value="{{industry.id}}">{{industry.industryName}}</option>
        </select>
        <div *ngIf="formProv.controls['rubro']?.hasError('required')" class="col-auto">
          <span class="form-text text-light">El campo es obligatorio</span>
        </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="telefonoproveedor" class="form-label text-light"
            >Telefono:</label
          >
          <input
            [(ngModel)]="this.supplierViewModel.tel"
            required
            name="telefonoproveedor"
            id="telefonoproveedor"
            type="text"
            placeholder="Ingrese telefono"
            class="form-control"
            minlength="8"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['telefonoproveedor']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="
              formProv.controls['telefonoproveedor']?.hasError('minlength')
            "
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 8 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="emailProv" class="form-label text-light">Email:</label>
          <input
            [(ngModel)]="this.supplierViewModel.email"
            required
            name="emailProv"
            id="emailProv"
            type="text"
            placeholder="Ingrese email"
            class="form-control"
            minlength="5"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['emailProv']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['emailProv']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 5 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="sitioProv" class="form-label text-light"
            >Sitio Web:</label
          >
          <input
            [(ngModel)]="this.supplierViewModel.web"
            required
            name="sitioProv"
            id="sitioProv"
            type="text"
            placeholder="Ingrese sitio web"
            class="form-control"
            minlength="5"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['sitioProv']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['sitioProv']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 5 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="imgProv" class="form-label text-light position-relative labelRubro"
            >Imagen proveedor:  <img class="rounded-circle position-absolute end-0 bottom-0" *ngIf="this.supplierViewModel.image != ''" src="{{this.supplierViewModel.image}}" style="width: 30px; height: 30px" alt=""></label
          >
          <input
            [(ngModel)]="this.supplierViewModel.image"
            required
            name="imgProv"
            id="imgProv"
            type="text"
            placeholder="Ingrese URL"
            class="form-control"
            minlength="5"
          />
          <div
            *ngIf="formProv.controls['imgProv']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="text-light my-2">Dirección</h4>
        <div class="col-12 col-md-auto mb-3">
          <label for="pais" class="form-label text-light">Pais:</label>
          <select
            (change)="onCountryChange()"
            [(ngModel)]="this.addressViewModel.locality.province.country.id"
            required
            name="pais"
            id="pais"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected disabled>Selecciona Pais</option>
            <option *ngFor="let country of countries" value="{{ country.id }}">
              {{ country.countryName }}
            </option>
          </select>
          <div
            *ngIf="formProv.controls['pais']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
          <label for="provincia" class="form-label text-light"
            >Provincia:</label
          >
          <select
            [disabled]="this.addressViewModel.locality.province.country.id == ''"
            [(ngModel)]="this.addressViewModel.locality.province.id"
            required
            name="provincia"
            id="provincia"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected disabled>Selecciona Provincia</option>
            <option *ngFor="let province of provinces" value="{{ province.id }}">
              {{ province.provinceName }}
            </option>
          </select>
          <div
            *ngIf="formProv.controls['provincia']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="localidad" class="form-label text-light"
            >Localidad:</label
          >
          <input
            [(ngModel)]="this.addressViewModel.locality.name"
            required
            name="localidad"
            type="text"
            id="localidad"
            placeholder="Ingrese localidad"
            class="form-control"
            minlength="3"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['localidad']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['localidad']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 3 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="calle" class="form-label text-light">Calle:</label>
          <input
            [(ngModel)]="this.addressViewModel.street"
            required
            name="calle"
            type="text"
            id="calle"
            placeholder="Ingrese su calle"
            class="form-control"
            minlength="3"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['calle']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['calle']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 3 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="num" class="form-label text-light">Numero:</label>
          <input
            [(ngModel)]="this.addressViewModel.number"
            required
            name="num"
            type="number"
            id="num"
            placeholder="Ingrese numero"
            class="form-control"
            min="1"
          />
          <div
            *ngIf="formProv.controls['num']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['num']?.hasError('min')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese un minimo de 1</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="cp" class="form-label text-light">Codigo Postal:</label>
          <input
            [(ngModel)]="this.addressViewModel.postalCode"
            required
            name="codigopostal"
            type="text"
            id="cp"
            placeholder="Ingrese codigo postal"
            class="form-control"
            minlength="4"
            maxlength="8"
          />
          <div
            *ngIf="formProv.controls['codigopostal']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['codigopostal']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 4 o mas digitos</span>
          </div>
        </div>

      </div>
      <div class="row">
        <h4 class="text-light my-2">Datos Fiscales</h4>
        <div class="col-12 col-md-auto mb-3">
          <label for="cuit" class="form-label text-light">CUIT:</label>
          <input
            [(ngModel)]="this.supplierViewModel.cuit"
            required
            name="cuit"
            type="text"
            id="cuit"
            placeholder="Ingrese su CUIT"
            class="form-control"
            minlength="13"

          />
          <div
            *ngIf="formProv.controls['cuit']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div *ngIf="!this.isCuit" class="col-auto">
            <span class="form-text text-light">Formato XX-XXXXXXXX-X</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="condicion" class="form-label text-light"
            >Condicion IVA:</label
          >
          <select
            [(ngModel)]="this.supplierViewModel.conditionIva.id"
            required
            name="condicion"
            id="condicion"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected disabled>Selecciona Condicion</option>
            <option *ngFor="let ivaCondition of ivaConditions" value="{{ivaCondition.id}}">
              {{ivaCondition.taxCondition}}
            </option>
          </select>
          <div
            *ngIf="formProv.controls['condicion']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="text-light my-2">Datos de contacto</h4>
        <div class="col-12 col-md-auto mb-3">
          <label for="nombreContacto" class="form-label text-light"
            >Nombre:</label
          >
          <input
            [(ngModel)]="this.contactViewModel.name"
            required
            name="nombrecontacto"
            type="text"
            id="nombreContacto"
            placeholder="Ingrese su nombre"
            class="form-control"
            minlength="3"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['nombrecontacto']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['nombrecontacto']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 3 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="apellidoContacto" class="form-label text-light"
            >Apellido:</label
          >
          <input
            [(ngModel)]="this.contactViewModel.lastName"
            required
            name="apellidocontacto"
            type="text"
            id="apellidoContacto"
            placeholder="Ingrese su apellido"
            class="form-control"
            minlength="3"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['apellidocontacto']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['apellidocontacto']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 3 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="telefonoContacto" class="form-label text-light"
            >Telefono:</label
          >
          <input
            [(ngModel)]="this.contactViewModel.phoneNumber"
            required
            name="telefonocontacto"
            type="text"
            id="telefonoContacto"
            placeholder="Ingrese su telefono"
            class="form-control"
            minlength="8"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['telefonocontacto']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['telefonocontacto']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 8 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="emailContacto" class="form-label text-light"
            >Email:</label
          >
          <input
            [(ngModel)]="this.contactViewModel.email"
            required
            name="emailcontacto"
            type="email"
            id="emailContacto"
            placeholder="Ingrese su email"
            class="form-control"
            minlength="3"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['emailcontacto']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['emailcontacto']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 3 o mas digitos</span>
          </div>
        </div>
        <div class="col-12 col-md-auto mb-3">
          <label for="rol" class="form-label text-light">Rol:</label>
          <input
            [(ngModel)]="this.contactViewModel.role"
            required
            name="rol"
            type="text"
            id="rol"
            placeholder="Ingrese su rol"
            class="form-control"
            minlength="3"
            maxlength="30"
          />
          <div
            *ngIf="formProv.controls['rol']?.hasError('required')"
            class="col-auto"
          >
            <span class="form-text text-light">El campo es obligatorio</span>
          </div>
          <div
            *ngIf="formProv.controls['rol']?.hasError('minlength')"
            class="col-auto"
          >
            <span class="form-text text-light">Ingrese 3 o mas digitos</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-2">
          <button
            [disabled]="!formProv.valid || this.existsCode || !this.isCuit"
            type="submit"
            class="btn btn-success"
          >
            {{ flagCode ? 'Agregar' : 'Actualizar' }}
          </button>
        </div>
      </div>
    </form>
  </div>

 -->
