<div class="container">
    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">NUMERO DE ORDEN</th>
            <th scope="col">FECHA DE EMISION</th>
            <th scope="col">FECHA ENTREGA ESPERADA</th>
            <th scope="col">DIRECCION RECEPCION</th>
            <th scope="col">PROVEEDOR</th>
            <th scope="col">PRODUCTO</th>
            <th scope="col">CANTIDAD</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orden of ordenes">
            <td>{{ orden.proveedor }}</td>
            <td>{{ orden.sku }}</td>
            <td>{{ orden.categoria }}</td>
            <td>{{ orden.nombreProducto }}</td>
            <td>{{ orden.descripcion }}</td>
            <td>{{ orden.precio }}</td>
            <button type="button" class="btn btn-primary btn-sm bg-primary ms-2">Agregar</button>
            <button type="button" class="btn btn-danger btn-sm bg-danger ms-2">Eliminar</button>
            
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  
