<div class="container">
  <div class="row mt-5">
    <div class="col-12 mb-5 mt-5 text-center">
      <h1 class="mb-4 text-success text-xl-center">BIENVENIDO A SGC</h1>
      <h2 class="mb-5 text-success">SISTEMA DE GESTION DE COMPRAS</h2>
     <div class="row mt-5">
      <div class="col 4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://media.istockphoto.com/id/1318116805/es/foto/equipo-log%C3%ADstico-caminando-juntos-en-el-puerto-interior.jpg?s=612x612&w=0&k=20&c=7y0SW8AV-j_vDmiY5iK9P7ScZNn9HNcWrHP0XhHc1N0=" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Proveedores</h5>
            <p class="card-text">Proveddores en sistema:</p>
            <p class="card-text">numero</p>
            <a href="#" class="btn btn-primary" routerLink="/proveedor/TablaForm">Ir a Proveedores</a>
          </div>
        </div>
      </div>
      <div class="col 4"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.pexels.com/photos/1409216/pexels-photo-1409216.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">Productos en sistema:</p>
          <p class="card-text">numero</p>
          <a href="#" class="btn btn-primary" routerLink="/producto/TablaForm">Ir a Productos</a>
        </div>
      </div></div>
      <div class="col 4"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://media.istockphoto.com/id/172203058/es/foto/con-numerales-y-finanzas-3.jpg?s=612x612&w=0&k=20&c=gBJjqGSbi0F-n1yHWjCDtdlAzROR-YizxOaPcVe2yL8=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ordenes de compra</h5>
          <p class="card-text">Ordenes De Compra en sistema:</p>
          <p class="card-text">numero</p>
          <a href="#" class="btn btn-primary" routerLink="/orden/TablaForm">Ir a Ordenes</a>
        </div>
      </div></div>
     </div>


  </div>
</div>
