<div class="container fluid">
  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Imagen</th>
          <th scope="col">Sku</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
          <th scope="col">Activo</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Category</th>

        </tr>
      </thead>
      <tbody>
        <tr >
          <td>{{productViewModel.image}}</td>
          <td>{{productViewModel.sku}}</td>
          <td>{{productViewModel.name}}</td>
          <td>{{productViewModel.description}}</td>
          <td>{{productViewModel.image}}</td>
          <td>{{productViewModel.price}}</td>
          <td>{{productViewModel.active}}</td>
          <td>{{productViewModel.supplier}}</td>
          <td>{{productViewModel.active}}</td>



        </tr>
      </tbody>
    </table>
  </section>
</div>

