<div class="container " style="background-color: #e2d5de;">

  <div class="row" id="contenidos">
    <div class="col mt-5">
      <form #miForm2="ngForm" (ngSubmit)="createOrden(miForm2)">
        <fieldset>
          <legend class="mb-xl-5">CARGUE UNA ORDEN DE COMPRA</legend>
          <input type="hidden" name="id" [(ngModel)]="sgcOrdenService.datosOrden.id" />
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">NUMERO DE ORDEN</label>
              <input
                type="text"
                id="numero"
                class="form-control"
                placeholder=""
                name="numeroOrden"
                [(ngModel)]="sgcOrdenService.datosOrden.numeroOrden" />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">FECHA DE EMISION</label>
              <input
                type="date"
                id="emision"
                class="form-control"
                placeholder=""
                name="fechaEmision"
                [(ngModel)]="sgcOrdenService.datosOrden.fechaEmision"/>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >FECHA ENTREGA ESPERADA</label
              >
              <input
                type="date"
                id="entrega"
                class="form-control"
                placeholder=""
                name="fechaEntrega"
                [(ngModel)]="sgcOrdenService.datosOrden.fechaEntrega"
                />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >DIRECCION RECEPCION</label
              >
              <input
                type="text"
                id="recepcion"
                class="form-control"
                placeholder=""
                name="direccion"
                [(ngModel)]="sgcOrdenService.datosOrden.direccion"/>
            </div>
            <div class="mb-3">
              <label for="proveedor2" class="form-label">ELIJA UN PROVEEDOR</label>
              <select id="proveedor" class="form-select" name="proveedor_razon" [(ngModel)]="sgcOrdenService.datosOrden.proveedor_razon">
                <option *ngFor="let proveedor of proveedores" [value]="proveedor.razon">{{ proveedor.razon }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >Elija Producto</label>
              <select id="producto" class="form-select" name="nombreProducto" [(ngModel)]="sgcOrdenService.datosOrden.nombreProducto">
                <option *ngFor="let producto of productos" [value]="producto.nombreProducto">{{ producto.nombreProducto }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >CANTIDAD</label
              >
              <input
                type="text"
                id="cantidad"
                class="form-control"
                placeholder=""
                name="Cantidad"
                [(ngModel)]="sgcOrdenService.datosOrden.cantidad" />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >TOTAL</label
              >
              <input
                type="text"
                id="total"
                class="form-control"
                placeholder=""
                name="cantidad"
                [(ngModel)]="sgcOrdenService.datosOrden.total" />
            </div>
            <button type="submit" class="btn btn-primary" id="guardar">
              GUARDAR
            </button>
          </fieldset>
        </form>
      </div>
    </div>
</div>
