<div class="container " style="background-color: #e2d5de;">

  <div class="container " style="background-color: #e2d5de;">

    <div class="row" id="contenidos">
      <div class="col  mt-5">
        <form #miForm1="ngForm" (ngSubmit)="createProducto(miForm1)" >
          <fieldset>
            <legend class="mb-xl-5 text-dark">CARGUE UN PRODUCTO</legend>
            <input type="hidden" name="id" [(ngModel)]="sgcProdService.datosProducto.id">
            <input type="hidden" name="idProv" [(ngModel)]="sgcProdService.datosProducto.proveedor_id">
            <input type="hidden" name="razon" [(ngModel)]="sgcProdService.datosProducto.proveedor_razon">
            <div class="mb-3">
              <label for="proveedor" class="form-label">ELIJA UN PROVEEDOR</label>
              <select id="proveedor" class="form-select" name="proveedor_razon" [(ngModel)]="sgcProdService.datosProducto.proveedor_razon">
                <option *ngFor="let proveedor of proveedores" [value]="proveedor.razon">{{ proveedor.razon }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >CODIGO / SKU</label
              >
              <input type="text" id="sku" class="form-control" placeholder="" name="sku" [(ngModel)]="sgcProdService.datosProducto.sku" />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">CATEGORIA</label>
              <select id="iva" class="form-select" name="categoria" [(ngModel)]="sgcProdService.datosProducto.categoria">
                <option [value]="'alimentos'">Alimentos</option>
                <option [value]="'electronica'">Electronica</option>
                <option [value]="'automotriz'">Automotriz</option>
                <option [value]="'laboratorio'">Laboratorio</option>
                <option [value]="'salud'">Saludo</option>
                <option [value]="'textil'">Textil</option>
                <option [value]="'limpieza'">Limpieza</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >NOMBRE DEL PRODUCTO</label
              >
              <input
                type="text"
                id="nombre"
                class="form-control"
                placeholder=""
                name="nombreProducto"
                [(ngModel)]="sgcProdService.datosProducto.nombreProducto"
              />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"
                >DESCRIPCION</label
              >
              <input
                type="text"
                id="descripcion"
                class="form-control"
                placeholder=""
                name="descripcion"
                [(ngModel)]="sgcProdService.datosProducto.descripcion"
              />
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">PRECIO</label>
              <input
                type="text"
                id="precio"
                class="form-control"
                placeholder=""
                name="precio"
                [(ngModel)]="sgcProdService.datosProducto.precio"
              />
            </div>

            <button type="submit" class="btn btn-primary" id="guardar">
              GUARDAR
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
